// Form Layout
//////////////////
.post-published-at-picker{
	width: 60px;
	display: inline-block;
}
#spud_post_published_at_2i{
	width: 105px;
}
#spud_post_published_at_1i, #spud_post_published_at_4i{
	width: 50px;
}
.spud-post-url-name{
	width: calc(100% - 52px);
	float: left;
}
.spud-post-url-name-regen{
	width: 50px;
	margin-left: 2px;
}

// Categories
//////////////
.table-spud-post-categories{
	max-height: 250px;
	overflow-y: scroll;
	clear: right;
	margin: 20px 0;
}
.spud-post-categories-list{
	list-style: none;
	max-height: 200px;
	padding: 4px 8px;
	overflow-y: scroll;
	border: 1px solid #cccccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	border-radius: 4px;
}

// Category Manager
//////////////////
.spud-blog-category-manager{
	padding-right: 10px;
}
.spud-blog-category-manager-table{
	padding: 0 0 0 20px;
	margin: 10px 0;
	min-height: 100px;
	max-height: 350px;
	overflow: auto;
}
.spud-blog-category-manager-list{
	clear: right;
	padding: 0 0 0 20px;
	margin: 10px 0;
	min-height: 100px;
	max-height: 350px;
	overflow: auto;
}
.spud-blog-category-manager-item{
	position: relative;
	margin: 10px 0;

}
.spud-blog-category-manager-item-actions{
	position: absolute;
	right: 0;
	margin: 0 0 0 10px;
}
.spud-blog-manage-categories-save, .spud-blog-manage-categories-back{
	display: none;
}

// Comment Manager
//////////////////
.spud-post-comments-manage{
	font-size: 12px;
	font-style: italic;
}

.spud-post-comment-details{
	width: 600px;
	padding: 0 25px 0 0;
	p{
		margin: 4px 0;
		font-size: 12px;
	}
}
.spud-post-comment-details-author{
	font-weight: bold;
}
.spud-post-comment-details-title{
	font-style: italic;
}
.spud-post-comment-details-content{
	display: block;
	background: #EEEEEE;
	border-radius: 5px;
	padding: 5px;
}
td.spud-post-comment-actions{
	text-align: right;
	white-space: nowrap;
}
.blog-comment-content-toggle{
	display: none;
}

// .submitted-on {
// 	display:block;
// 	color:#555;
// }
// .blog-comment-content{

// }

// .blog-comment-content-hidden{
// 	font-size: 12px;
// 	margin: 4px 0 0;
// 	padding: 4px 0 0;
// 	border-top: 1px solid #666;
// 	display: none;
// }