<%= content_tag :tr, :class => 'spud-blog-category-manager-item', 'data-id' => category.id do %>
  <td><%= category.name %></td>
  <td class="table-actions">
    <%= link_to 'Edit', edit_admin_post_category_path(category), :class => 'btn btn-xs btn-default spud-blog-category-edit' %>
    <%= link_to 'Delete', admin_post_category_path(category), :class => 'btn btn-xs btn-danger spud-blog-category-delete' %>
  </td>
<% end %>
