<%= form_for @post_category, :url => (@post_category.new_record? ? admin_post_categories_path : admin_post_category_path(@post_category)), :html => {:class => 'form-horizontal spud-post-category-form'} do |f| %>

	<%= tb_form_errors(@post_category) %>

  <div class="form-group">
    <%= f.label :name, :required => true, :class=> "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, :class=>'form-control' %>
    </div>
  </div>

<% end %>
