<div class="spud-blog-category-manager">
	<%= link_to "New Post Category", new_admin_post_category_path, :class => "btn btn-sm btn-primary spud-blog-category-add-new", :title => "New Post Category" %>
  <table class="table table-striped table-condensed spud-blog-category-manager-table">
    <tbody>
      <%= render :partial => 'category', :collection => @post_categories %>  
    </tbody>
  </table>
</div>
