<%= content_tag :li, :class => 'spud_post_form_category', 'data-id' => category.id do %>
	<%= check_box_tag 'spud_post[category_ids][]', category.id, @post.category_ids.include?(category.id), :id => "spud_post_category_#{category.id}" %>
	<%= label_tag "spud_post_category_#{category.id}", category.name %>
<% end %>
