<%= tb_form_errors(@post)%>

<div class="form-group">
  <div class="col-sm-12">
  	<%= f.label :title, :required => true,:class=> "control-label" %>
  	<%= f.text_field :title, :class=>'form-control spud-post-title', :placeholder => "Enter title here" %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12">
  	<%= f.label :content %>
    <%= f.text_area :content, :class => 'tinymce form-control' %>
  </div>
</div>

<h4>Advanced</h4>

<% if @current_user.super_admin %>
	<div class="form-group">
	  <%= f.label :spud_user_id, 'Author', :class => "col-sm-2 control-label" %>
	  <div class="col-sm-10">
	    <%= f.select :spud_user_id, options_for_select(SpudUser.ordered.collect{|user| [user.full_name, user.id]}, @post.spud_user_id), {}, :class => 'form-control' %>
	  </div>
	</div>
<% else %>
	<%= f.hidden_field :spud_user_id %>
<% end %>
<div class="form-group">
	<%= f.label :custom_author, 'Custom Author Display', :class => "col-sm-2 control-label" %>
	<div class="col-sm-10">
		<%= f.text_field :custom_author, :class=>'form-control', :placeholder => 'Author Display' %>
	</div>
</div>
<div class="form-group">
	<%= f.label :visible, :class => 'col-sm-2 control-label' %>
	<div class="col-sm-10">
		<label class="radio-inline" for="spud_post_visible_true">
			<%= f.radio_button :visible, true %> Yes
		</label>
		<label class="radio-inline" for="spud_post_visible_false">
			<%= f.radio_button :visible, false %> No
		</label>
	</div>
</div>

<div class="form-group">
	<%= f.label :comments_enabled, 'Enable Comments', :class => 'col-sm-2 control-label' %>
	<div class="col-sm-10">
		<label class="radio-inline" for="spud_post_comments_enabled_true">
			<%= f.radio_button :comments_enabled, true %> Yes
		</label>
		<label class="radio-inline" for="spud_post_comments_enabled_false">
			<%= f.radio_button :comments_enabled, false %> No
		</label>
	</div>
</div>

<div class="form-group">
	<%= f.label :published_at, 'Publish Date', :class => 'col-sm-2 control-label' %>
	<div class="col-sm-10">
		<%= f.datetime_select :published_at, {:ampm => true, :minute_step => 5, :order => [:month, :day, :year, :hour, :minute]}, {:class => 'form-control post-published-at-picker'} %>
	</div>
</div>

<div class="form-group">
  <%= label_tag :categories, 'Categories', :class => "col-sm-2 control-label" %>
  <div class="col-sm-10">
		<input type="hidden" name="spud_post[category_ids][]" value="" />
		<ul class="spud-post-categories-list">
			<%= render :partial => '/admin/posts/category', :collection => SpudPostCategory.ordered %>
		</ul>
		<%= link_to 'Add Category', new_admin_post_category_path, :class => 'btn btn-xs btn-primary spud-post-add-category' %>
  </div>
</div>

<%= render :partial => '/admin/posts/custom_fields', :locals => {:f => f} %>

<h4>Meta Data</h4>

<div class="form-group">
  <%= f.label :url_name, :required => true, :class=> "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :url_name, :class=>'form-control spud-post-url-name', :placeholder => 'Optional' %>
    <a href="#" class="btn btn-default spud-post-url-name-regen" title="Regenerate URL Slug">
      <span class="glyphicon glyphicon-refresh"></span>
    </a>
  </div>
</div>

<div class="form-group">
  <%= f.label :meta_keywords, :required => true, :class=> "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :meta_keywords, :class=>'form-control', :placeholder => 'Optional' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :meta_description, :required => true, :class=> "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= f.text_field :meta_description, :class=>'form-control', :placeholder => 'Optional' %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= f.submit "Save Post", :class => "btn btn-primary", "data-loading-text" => "Saving..." %>
    <%= f.submit "Preview", :class => "btn btn-info btn-preview", data: { loading_text: 'Please Wait...' } %> or
    <%= link_to "Cancel", request.referer, :class => "btn btn-default" %>
  </div>
</div>

<script type="text/javascript">
	$(document).ready(spud.admin.posts.edit);
</script>
