<%= tb_form_for @post,
	url: admin_post_path(@post),
	remote: true,
	data: {
		errors: :inline,
		success: admin_posts_path,
		preview_action: admin_post_preview_path(@post)
	},
	html: { :class => 'form-horizontal' } do |f| %>
	<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
