<%= content_for :data_controls do %>
  <%= form_tag admin_posts_path, :method => :get, :class => 'form-inline' do %>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
        <%= text_field_tag 'search', params[:search], :placeholder => 'Search', :class => 'form-control' %>
        <% if params[:search] %>
          <div class="input-group-addon">
            <%= link_to raw('<span class="glyphicon glyphicon-remove"></span>'), admin_posts_path %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= link_to "Manage Categories", admin_post_categories_path, :class => 'btn btn-default spud-blog-manage-categories', :title => 'Manage Categories' %>
      <% if Spud::Blog.disqus_shortname %>
			 <%= link_to "Manage Comments", "https://#{Spud::Blog.disqus_shortname}.disqus.com/admin/moderate/#/all", :target => :blank, :class => 'btn btn-default', :title => 'Manage Comments' %>
      <% end %>
			<%= link_to "New Post", new_admin_post_path, :class => "btn btn-primary", :title => "New Post" %>
    </div>
  <% end %>
<% end %>

<% content_for :detail do %>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Published At</th>
          <% if Spud::Blog.disqus_shortname %>
            <th>Comments</th>
          <% end %>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<% cache @posts do %>
					<% @posts.each do |post| %>
						<% cache post do %>
							<tr>
								<td>
									<%= link_to post.title, post_path(post.url_name), :target => :blank %>
									<% if !post.visible? %>
										<span class="badge">Draft</span>
									<% end %>
								</td>
								<td><%= post.author_name %></td>
								<td><%= post.published_at.strftime('%m/%d/%Y') %></td>
                <% if Spud::Blog.disqus_shortname %>
								  <td>
                    <%= link_to_disqus_comment_count(post) %>
                  </td>
                <% end %>
								<td class="table-actions">
									<%= link_to 'Edit', edit_admin_post_path(post), :class => 'btn btn-sm btn-default' %>
									<%= link_to 'Delete', admin_post_path(post), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this post?'}, :class => 'btn btn-sm btn-danger' %>
								</td>
							</tr>
						<% end %>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
  <%= will_paginate @posts, :renderer => BootstrapPagination::Rails %>

	<script>
		$(document).ready(spud.admin.post_categories.init);
	</script>
  <% if Spud::Blog.disqus_shortname %>
    <%= javascript_include_tag "//#{Spud::Blog.disqus_shortname}.disqus.com/count.js", :id => 'dsq-count-scr', :async => true %>
  <% end %>
<%end%>
