<%= form_for @post,
	url: admin_posts_path(),
	remote: true,
	data: {
		errors: :inline,
		success: admin_posts_path,
		preview_action: admin_post_preview_path(@post)
	},
	html: { class: "form-horizontal page_form" } do |f| %>
	<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
