<%= form_for @comment, :url => post_path(@post.url_name, :anchor => 'comment_form') do |f| %>
	
	<% if @comment.errors.any? %>
    <div class="comment_error_list">
      <h4>Please correct the following <%= pluralize(@comment.errors.count, "error") %>:</h4>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
	<% end %>

	<div class="form-group">
		<%= f.label :author %>
		<%= f.text_field :author, :class => 'form-control' %>
	</div>
	<div class="form-group">
		<%= f.label :content %>
		<%= f.text_area :content, :class => 'form-control' %>
	</div>
	<div class="comment_validity hidden">
		<%= label_tag 'Comment Validation' %>
		<%= text_field_tag 'comment_validation' %>
	</div>
	<div class="form-group">
		<%= f.submit 'Post Comment', :class => 'btn btn-primary' %>
	</div>

<% end %>
