<% @page_title = @post.title %>

<% content_for :head do %>
  <% cache([@post, 'head']) do %>
    <%= spud_blog_rss_link %>
    <meta name="description" content="<%= @post.meta_description %>" />
    <% if @post.meta_keywords.blank? %>
      <meta name="keywords" content="<%= @post.categories.collect{ |c| c.name }.join(',') %>" />
    <% else %>
      <meta name="keywords" content="<%= @post.meta_keywords %>" />
    <% end %>
  <% end %>
<% end %>

<% cache(@post) do %>
  <div class="row">
    <div class="col-sm-12">
      <div class="blog-post blog-post-partial">
        <h1 class="blog-post-title"><%= @post.title %></h1>
          <h4 class="blog-post-author">Posted by <%= @post.author_name %> on <%= @post.display_date %></h4>
        <% if @post.categories.any? %>
          <p class="blog-post-categories">
            <span>Filed under</span>
            <%= raw(@post.categories.collect{ |c| link_to c.name, post_category_path(c.url_name) }.join(', ')) %>
          </p>
        <% end %>
        <div class="blog-post-content">
          <%= raw @post.content %>
        </div>
        <p><%= link_to 'Back to all posts', posts_path %></p>
      </div>
    </div>
  </div>

  <% if @post.comments_enabled? && Spud::Blog.disqus_shortname %>
    <div class="row">
      <div class="col-sm-12">
        <%= render '/posts/disqus' %>
      </div>
    </div>
  <% end %>

<% end %>
